@font-face {
  font-family: 'NTSomic';
  src: url('../../public/fonts/NTSomic-Regular.ttf');
}
@font-face {
  font-family: 'Bluecurve';
  src: url('../../public/fonts/Bluecurve-Regular.ttf');
}
@font-face {
  font-family: 'Bluecurve-Light';
  src: url('../../public/fonts/Bluecurve-Light.ttf');
}
* {
  font-family: 'Montserrat';
  text-align: justify;
}
.pravo-i-levo {
  font-family: 'Bluecurve';
}
.pravo-i-levo-light {
  font-family: 'Bluecurve-Light';
}
#root {
  max-width: 100%;
}
.container {
  max-width: 100%;
}
.header {
  background-color: #e5e5e5 !important;
  font-size: 20px;
  display: flex;
  justify-content: end;
}
.header > * {
  font-size: 22px;
}
.logo-font {
  font-weight: 500;
  color: black;
  font-family: 'Bluecurve-Light';
}
.header-main {
  max-width: 100%;
}
.container-header {
  position: relative;
  background-color: #e5e5e5 !important;
  height: 100vh;
  overflow: hidden;
}
.header-text-main {
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 100px;
}
.container-footer {
  background-color: #e5e5e5 !important;
  display: flex;
  align-items: center;
  height: 50vh;
}
.container-flex-colunm {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.footer-img {
  width: 40vw;
}
.footer-text {
  font-size: 24px;
}
.button-orange {
  background-color: #f28b64 !important;
  border-color: #f28b64 !important;
  font-weight: 500 !important;
}
.button-orange:hover {
  background-color: #9a634f !important;
  border-color: #9a634f !important;
}
.button-blue {
  background-color: #5290ea !important;
  border-color: #5290ea !important;
  font-weight: 500 !important;
}
.button-blue:hover {
  background-color: #3d6299 !important;
  border-color: #3d6299 !important;
}
.error {
  width: 100%;
  height: 100vh;
}
.container-flex-row {
  display: flex;
  align-items: baseline;
  position: absolute;
  flex-flow: column;
  top: 100px;
  font-size: 40px;
}

.form-for-lawyer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.form-for-lawyer > * {
  margin: 5px;
}
.btn-lawyer {
  width: 70%;
  margin-bottom: 10px;
}

.icon {
  border-radius: 50%;
  border: 1px solid #c0c0c0;
}
.icons-con {
  margin-top: 50px;
  display: flex;
  width: 400px;
  justify-content: space-around;
}
.icon:hover {
  background-color: white;
}
.icon:hover {
  transform: scale(1.2);
  transition: 1s;
}
