* {
  font-family: 'Montserrat';
}
#root {
  max-width: 100%;
}
.container {
  max-width: 100%;
}
.header {
  background-color: #e5e5e5 !important;
  font-size: 20px;
  display: flex;
  justify-content: end;
}
.header-main {
  max-width: 100%;
}
.container-header {
  position: relative;
  background-color: #e5e5e5 !important;
  height: 100vh;
}
.header-text-main {
  font-weight: 500;
  font-size: 60px;
}
.container-footer {
  background-color: #e5e5e5 !important;
  display: flex;
  align-items: center;
  height: 50vh;
}
.container-flex-colunm {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.footer-img {
  width: 40vw;
}
.footer-text {
  font-size: 24px;
}
.button-orange {
  background-color: #f28b64 !important;
  border-color: #f28b64 !important;
  font-weight: 500 !important;
}
.button-orange:hover {
  background-color: #9a634f !important;
  border-color: #9a634f !important;
}
.button-blue {
  background-color: #5290ea !important;
  border-color: #5290ea !important;
  font-weight: 500 !important;
}
.button-blue:hover {
  background-color: #3d6299 !important;
  border-color: #3d6299 !important;
}
.error {
  width: 100vh;
}
.transition {
  transition: 1s;
}
.container-flex-row {
  display: flex;
  align-items: baseline;
  position: absolute;
  flex-flow: column;
  top: 100px;
  font-size: 40px;
}
.circles {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.flex-law {
  display: flex;
  flex-wrap: wrap;
}
