* {
  font-family: 'Montserrat';
}

.header {
  background-color: #e5e5e5 !important;
}
.header-main {
  width: 100vw;
}
.container-header {
  position: relative;
  background-color: #e5e5e5 !important;
}
.header-text {
  position: absolute;
  top: 100px;
  font-size: 40px;
}
.container-footer {
  background-color: #e5e5e5 !important;
  display: flex;
  align-items: center;
}
.container-footer-colunm {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.footer-img {
  width: 40vh;
}
.footer-text {
  font-size: 24px;
}
.button-orange {
  background-color: #f28b64 !important;
  border-color: #f28b64 !important;
  font-weight: 500 !important;
}
.button-orange:hover {
  background-color: #9a634f !important;
  border-color: #9a634f !important;
}
.button-blue {
  background-color: #5290ea !important;
  border-color: #5290ea !important;
  font-weight: 500 !important;
}
.button-blue:hover {
  background-color: #3d6299 !important;
  border-color: #3d6299 !important;
}
