* {
  text-decoration: none !important;
}

.flex-law {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}
.all-lawyers-cards {
  padding: 30px 10px;
  width: 35rem;
  height: 35rem;
  margin: 100px 50px 0 50px;
  border-radius: 30px;
  font-size: 22px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.all-lawyers-title {
  font-size: 24px;
}
.all-lawyers-cards:hover {
  transition: 1s;
  transform: scale(1.2);
}
.all-lawyers-cards-img {
  overflow: hidden;
  object-fit: cover;
  border-radius: 80px 0px;
  width: 90%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.card-lawyer-small > * {
  color: black;
}
.all-lawyers-cards:nth-child(6n + 1) {
  background-color: #5290ea;
}
.all-lawyers-cards:nth-child(6n + 2) {
  background-color: #e2e2e2;
}
.all-lawyers-cards:nth-child(6n + 3) {
  background-color: #f28b64;
}
.all-lawyers-cards:nth-child(6n + 4) {
  background-color: #f28b64;
}
.all-lawyers-cards:nth-child(6n + 5) {
  background-color: #5290ea;
}
.all-lawyers-cards:nth-child(6n) {
  background-color: #e2e2e2;
}
